.journal__main-content {
  display: flex;
}
.journal__sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 10px;
  width: 450px;
  background-color: $dark-grey;
  color: white;
}
.journal__main-section {
  flex: 1 1 auto;
}
.journal__sidebar-navbar {
  display: flex;
  justify-content: space-between;

  h3 {
    font-weight: lighter;
  }
}

.journal__new-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 30px;
  transition: color 0.3s ease;
  &:hover {
    color: darken($color: white, $amount: 20);
  }
}

.journal__entries {
  flex: 1 1 auto;
  margin-top: 30px;
  overflow: auto;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #ccc;
  }

  &::-webkit-scrollbar:vertical {
    width: 8px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
  }
}

.journal__entry {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: white;
  color: $dark-grey;
  overflow: hidden;
  cursor: pointer;
}
.journal__entry-picture {
  height: 75px;
  width: 75px;
}

.journal__entry-body {
  padding: 10px;
}
.journal__entry-title {
  font-size: 14px;
  font-weight: bold;
}
.journal__entry-content {
  font-size: 10px;
}

.journal__entry-date-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  span {
    font-size: 12px;
  }
}
